
<!DOCTYPE html>
<html>
<head>
	<title>Test at home</title>

	<style>
		table {
			width: 100%;
			border: none;
		}
		th {
	    width: auto;
	    text-align: center;
	    color: #1a7506;
	    border: 1px solid #eee;
	    padding: 5px;
	    background: #c7ffc7;
		}
		td {
			color: #333;
	    text-align: center;
	    border: 1px solid #eee;
	    padding: 5px;
	    background: #f9f9f9;
		}
	</style>

</head>


<body>
	<table>
		<tr>
			<th>Username</th>
			<th>Full Name</th>
			<th>Position</th>
			<th>Salary</th>
		</tr>
	

	</table>
</body>
</html>