
<!DOCTYPE html>
<html>
<head>
	<title>Test at home</title>

	<style>
		table {
			width: 100%;
			border: none;
		}
		th {
	    width: auto;
	    text-align: center;
	    color: #1a7506;
	    border: 1px solid #eee;
	    padding: 5px;
	    background: #c7ffc7;
		}
		td {
			color: #333;
	    text-align: center;
	    border: 1px solid #eee;
	    padding: 5px;
	    background: #f9f9f9;
		}
	</style>

</head>


<body>
	<% console.log(articles) %>
	<table>
		<tr>
			<th>Title</th>
			<th>User</th>
			<th>Content</th>
			<th>Date</th>
		</tr>
		<% for(var i=0; i<articles.length; i++) { %>
			<tr>
				<td><%= articles[i].title %></td>
				<td><%= articles[i].user %></td>
				<td><%= articles[i].content %></td>
				<td><%= articles[i].created %></td>
			</tr>
		<% } %>

	</table>
</body>
</html>